.section{
    background-image: url('https://bmw.scene7.com/is/image/BMW/2gc_banner-1:16to9?fmt=webp&wid=2560&hei=1440');
    height: 90vh;
    background-size: cover;
    color: white;
    padding-left: 30px;
    padding-bottom: 30px
}

.button{
    
    color: white;
    border-style: solid;
    border-color: black;
    color: white;
}

.section1{
    text-align: center;
    padding: 30px;
}

.section_img1{
    background-image: url('https://bmw.scene7.com/is/image/BMW/f74_ice_intro_positioning:16to7?fmt=webp&wid=2560&hei=1120');
    height: 80vh;
    background-size: cover;
}   

.hg{
    align-items: start;
    margin-left: 30px;
    margin-right: 30px;
    
}

.empty{
  background-color: white;
  height: 25px;
}

.section_video{
    padding-left: 200px;
}